
.listOfQuizzes {
    display: flex;
    justify-content: space-around;
}


.quizCard {
    width: 250px;
    border-radius: 0px;
}

.quizCardBody {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

button {
    border-radius: 0px;
}

.answer-options-group {
    display: inline-flex;
  flex-direction: column;
}

.answer-option {
    margin: 10px;
    padding: 10px 30px;
    border: 1px solid grey;
}