<div *ngIf="!selectedQuiz">
<section class="list-of-quizzes">
    <mat-card class="quiz-card" *ngFor="let quiz of quizzes$ | async" (click)="onSelect(quiz)">
      <mat-card-title>{{quiz.name}}</mat-card-title>
      <div class="quiz-card-body">
      <p *ngIf="currentScore===0">Not started</p>
      <p *ngIf="currentScore>0">{{currentScore}}/{{quiz.questions.length}}</p>
      <button *ngIf="currentScore===0" mat-stroked-button>Start</button>
      <button *ngIf="currentScore>0" mat-stroked-button>Redo</button>
      </div>
    </mat-card>
</section>
</div>

<section class="question-and-answers" *ngIf="selectedQuiz">
        <h2>{{selectedQuiz.name}}</h2>
        <h3>{{selectedQuiz.questions[currentQuestion].text}}</h3>

        <mat-radio-group class="answer-options-group">
        <mat-radio-button class="answer-option" *ngFor="let option of answerOptionsArray" value=[option] (change)=onAnswer(option)>{{option}}</mat-radio-button>
        </mat-radio-group>

        <div class="questions-navigation-buttons">
            <button *ngIf="selectedQuiz.questions[currentQuestion-1]" mat-stroked-button (click)="previousQuestion()">Back</button>
            <button *ngIf="!selectedQuiz.questions[currentQuestion-1]"mat-button disabled>Back</button>
            <button *ngIf="selectedQuiz.questions[currentQuestion+1]"mat-stroked-button (click)="nextQuestion()">Next</button>
            <button *ngIf="!selectedQuiz.questions[currentQuestion+1]"mat-stroked-button (click)="returnToDashboard()">Return To Dashboard</button>
        </div>
    </section>
