
.list-of-quizzes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 800px) {
.list-of-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

.quiz-card {
    width: 250px;
    border-radius: 0px;
    margin: 17px;
    border: 1px solid grey;
}

.quiz-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

p {
    color:grey
}

button {
    border-radius: 0px;
}


.question-and-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-options-group {
    display: inline-flex;
  flex-direction: column;
}

.answer-option {
    margin: 10px;
    padding: 10px 200px 10px 30px;
    border: 1px solid grey;
}

.questions-navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
}