<div *ngIf="!selectedQuiz">
<section class="list-of-quizzes">
    <mat-card class="quiz-card" *ngFor="let quiz of quizzes$ | async" (click)="onSelect(quiz)">
      <mat-card-title>{{quiz.name}}</mat-card-title>
      <div class="quiz-card-body">
      <p>Not started</p>
      <button mat-stroked-button>Start</button>
      </div>
    </mat-card>
</section>
</div>

<section class="question-and-answers" *ngIf="selectedQuiz">
        <h2>{{selectedQuiz.name}}</h2>
        <h3>{{selectedQuiz.questions[currentQuestion].text}}</h3>
        <mat-radio-group class="answer-options-group">
        <mat-radio-button class="answer-option">{{selectedQuiz.questions[currentQuestion].options.split(',')[0]}}</mat-radio-button>
        <mat-radio-button class="answer-option">{{selectedQuiz.questions[currentQuestion].options.split(',')[1]}}</mat-radio-button>
        <mat-radio-button class="answer-option">{{selectedQuiz.questions[currentQuestion].options.split(',')[2]}}</mat-radio-button>
        <mat-radio-button class="answer-option">{{selectedQuiz.questions[currentQuestion].options.split(',')[3]}}</mat-radio-button>
        </mat-radio-group>
        <div class="questions-navigation-buttons">
            <button *ngIf="selectedQuiz.questions[currentQuestion-1]" mat-stroked-button (click)="previousQuestion()">Back</button>
            <button *ngIf="!selectedQuiz.questions[currentQuestion-1]"mat-button disabled>Back</button>
            <button *ngIf="selectedQuiz.questions[currentQuestion+1]"mat-stroked-button (click)="nextQuestion()">Next</button>
            <button *ngIf="!selectedQuiz.questions[currentQuestion+1]"mat-stroked-button (click)="returnToDashboard()">Return To Dashboard</button>
        </div>
    </section>
