h1 { 
    text-align: center;
}


.listOfQuizzes {
    display: flex;
    justify-content: space-around;
}


.quizCard {
    width: 250px;
    border-radius: 0px;
}

.quizCardBody {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

button {
    border-radius: 0px;
}